# Cleaning Scrapped world population data

I will be cleaning the world population data i scrapped

In [1]:
try: 
    import pandas as pd 
except ModuleNotFoundError:
    !pip install pandas
    
    import pandas as pd

In [155]:
worldPopData = pd.read_csv('./results/world-population-data-worldmeter.csv')

print(worldPopData.head(5))

  Country (or dependency) Population (2020) Yearly Change  Net Change  \
0                   China     1,439,323,776        0.39 %   5,540,090
1                   India     1,380,004,385        0.99 %  13,586,631
2           United States       331,002,651        0.59 %   1,937,734
3               Indonesia       273,523,615        1.07 %   2,898,047
4                Pakistan       220,892,340        2.00 %   4,327,022

  Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age  \
0             153       9,388,211       -348,399        1.7       38
1             464       2,973,190       -532,687        2.2       28
2              36       9,147,420        954,806        1.8       38
3             151       1,811,570        -98,955        2.3       30
4             287         770,880       -233,379        3.6       23

  Urban Pop % World Share
0        61 %     18.47 %
1        35 %     17.70 %
2        83 %      4.25 %
3        56 %      3.51 %
4        35 %      2.83 %

In [156]:
print(worldPopData.tail(5))

    Country (or dependency) Population (2020) Yearly Change Net Change  \
230              Montserrat             4,992        0.06 %          3
231        Falkland Islands             3,480        3.05 %        103
232                    Niue             1,626        0.68 %         11
233                 Tokelau             1,357        1.27 %         17
234                Holy See               801        0.25 %          2

    Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age  \
230              50             100            NaN       N.A.     N.A.
231               0          12,170            NaN       N.A.     N.A.
232               6             260            NaN       N.A.     N.A.
233             136              10            NaN       N.A.     N.A.
234           2,003               0            NaN       N.A.     N.A.

    Urban Pop % World Share
230        10 %      0.00 %
231        66 %      0.00 %
232        46 %      0.00 %
233         0 %      0.00 %
234        N.A.      0.00 %

In [157]:
worldPopData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    object
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    object
 4   Density (P/Km²)          235 non-null    object
 5   Land Area (Km²)          235 non-null    object
 6   Migrants (net)           201 non-null    object
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: object(11)
memory usage: 20.3+ KB

In [158]:
worldPopData = worldPopData.convert_dtypes()

worldPopData

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,"4,992",0.06 %,3,50,100,<NA>,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,"3,480",3.05 %,103,0,"12,170",<NA>,N.A.,N.A.,66 %,0.00 %
232,Niue,"1,626",0.68 %,11,6,260,<NA>,N.A.,N.A.,46 %,0.00 %
233,Tokelau,"1,357",1.27 %,17,136,10,<NA>,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,"2,003",0,<NA>,N.A.,N.A.,N.A.,0.00 %

In [159]:
worldPopData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    string
 1   Population (2020)        235 non-null    string
 2   Yearly Change            235 non-null    string
 3   Net Change               235 non-null    string
 4   Density (P/Km²)          235 non-null    string
 5   Land Area (Km²)          235 non-null    string
 6   Migrants (net)           201 non-null    string
 7   Fert. Rate               235 non-null    string
 8   Med. Age                 235 non-null    string
 9   Urban Pop %              235 non-null    string
 10  World Share              235 non-null    string
dtypes: string(11)
memory usage: 20.3 KB

In [160]:
worldPopData.columns

Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

In [163]:
for column in worldPopData:
    worldPopData[column].replace(r'(,)', '', regex=True,inplace = True)
    worldPopData[column].replace(r'(%)', '', regex=True,inplace = True)
print(worldPopData.tail())

    Country (or dependency) Population (2020) Yearly Change Net Change  \
230              Montserrat              4992         0.06           3
231        Falkland Islands              3480         3.05         103
232                    Niue              1626         0.68          11
233                 Tokelau              1357         1.27          17
234                Holy See               801         0.25           2

    Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age  \
230              50             100           <NA>       N.A.     N.A.
231               0           12170           <NA>       N.A.     N.A.
232               6             260           <NA>       N.A.     N.A.
233             136              10           <NA>       N.A.     N.A.
234            2003               0           <NA>       N.A.     N.A.

    Urban Pop % World Share
230         10        0.00
231         66        0.00
232         46        0.00
233          0        0.00
234        N.A.       0.00

In [166]:
for column in worldPopData:
    print(worldPopData[column].value_counts(dropna=False))

China                      1
Egypt                      1
South Korea                1
United States              1
Indonesia                  1
                          ..
Saint Pierre & Miquelon    1
Montserrat                 1
Falkland Islands           1
Niue                       1
Holy See                   1
Name: Country (or dependency), Length: 235, dtype: Int64
1439323776    1
102334404     1
51269185      1
331002651     1
273523615     1
             ..
5794          1
4992          1
3480          1
1626          1
801           1
Name: Population (2020), Length: 235, dtype: Int64
1.48      4
0.67      3
0.97      3
0.25      3
0.32      3
         ..
1.57      1
0.62      1
0.16      1
-0.36     1
1.27      1
Name: Yearly Change, Length: 174, dtype: Int64
68         2
1464463    1
543448     1
43877      1
1937734    1
          ..
-28        1
3          1
103        1
11         1
2          1
Name: Net Change, Length: 234, dtype: Int64
25      8
4       6
16      5
18      5
83      5
       ..
149     1
276     1
125     1
164     1
2003    1
Name: Density (P/Km²), Length: 165, dtype: Int64
460      3
10       2
180      2
30       2
240      2
        ..
230      1
100      1
12170    1
350      1
0        1
Name: Land Area (Km²), Length: 226, dtype: Int64
NaN       34
0          5
-10000     4
-800       4
-4000      4
          ..
5582       1
-480       1
-1600      1
-79        1
10220      1
Name: Migrants (net), Length: 159, dtype: Int64
N.A.    34
1.8     14
1.5     12
2.1     10
1.9     10
1.7     10
2.3     10
1.6      9
2.0      9
2.4      9
1.3      8
1.4      7
2.8      7
3.6      6
2.2      6
4.4      5
2.9      5
4.7      5
2.5      5
4.1      4
3.0      4
4.6      4
1.2      4
3.7      3
4.9      3
4.3      3
3.8      2
3.9      2
4.5      2
3.4      2
5.9      1
2.6      1
3.3      1
6.0      1
3.5      1
1.1      1
5.0      1
3.1      1
7.0      1
5.2      1
5.4      1
5.8      1
4.0      1
4.2      1
5.5      1
6.1      1
5.3      1
2.7      1
3.2      1
4.8      1
5.6      1
Name: Fert. Rate, dtype: Int64
N.A.    34
19      14
28      12
43      11
32      11
42      10
18      10
20       9
30       8
40       7
22       7
26       7
38       7
24       6
17       6
34       6
31       6
41       5
33       5
44       5
45       5
29       5
21       5
23       4
25       4
27       4
37       4
36       4
35       3
46       3
39       3
47       2
15       1
16       1
48       1
Name: Med. Age, dtype: Int64
N.A.    13
88       7
57       7
87       6
63       6
        ..
19       1
94       1
29       1
65       1
10       1
Name: Urban Pop %, Length: 81, dtype: Int64
0.00     56
0.01     21
0.03      9
0.04      8
0.07      8
         ..
1.62      1
1.87      1
0.90      1
2.11      1
0.45      1
Name: World Share, Length: 74, dtype: Int64

In [ ]:
for column in

In [162]:
worldPopData.isnull().sum()

Country (or dependency)     0
Population (2020)           0
Yearly Change               0
Net Change                  0
Density (P/Km²)             0
Land Area (Km²)             0
Migrants (net)             34
Fert. Rate                  0
Med. Age                    0
Urban Pop %                 0
World Share                 0
dtype: int64

In [53]:
migrants = worldPopData['Migrants (net)']

print(f'Migrants column: \n{migrants}')

Migrants column:
0      -348,399
1      -532,687
2       954,806
3       -98,955
4      -233,379
         ...
230        <NA>
231        <NA>
232        <NA>
233        <NA>
234        <NA>
Name: Migrants (net), Length: 235, dtype: object

In [54]:
non_null_migrants = migrants[migrants.notnull() == True]

print(f'Non-null immigrant data: \n{non_null_migrants}')

Non-null immigrant data:
0      -348,399
1      -532,687
2       954,806
3       -98,955
4      -233,379
         ...
230        <NA>
231        <NA>
232        <NA>
233        <NA>
234        <NA>
Name: Migrants (net), Length: 235, dtype: object

In [116]:
non_null_migrants.replace(r'(,)', '', regex=True,inplace = True)

non_null_migrants

0      -348399
1      -532687
2       954806
3       -98955
4      -233379
        ...
230       <NA>
231       <NA>
232       <NA>
233       <NA>
234       <NA>
Name: Migrants (net), Length: 235, dtype: object