# Extracting data from a pdf

We are going to extract tabular data from the `exploration-of-solar-radiation-in-nigeria.pdf` file in the data folder. The package used here to extract the table is tabula-py. I learnt about using colab notebook [@Ayanlola2002](https://github.com/Ayanlola2002) posted on the [Odmena Nigeria Energy github repo](https://github.com/OmdenaAI/omdena-nigeria-energy). 

Thanks [@Ayanlola2002](https://github.com/Ayanlola2002) for your resource.

**Note:**
* You need to have the pdf data to run this code
* You can also use this method to scrape web pages for tabular data by downloading the page as a pdf using your browser (use the print function) then scrape that pdf using tabular-py.

## Step 1: download and import the package

In [1]:
try: 
    import tabula
except ModuleNotFoundError:
    !pip install tabula-py
    
    import tabula

Collecting tabula-py
  Downloading tabula_py-2.2.0-py3-none-any.whl (11.7 MB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\dewa\anaconda3\envs\google-earth-engine-tutorial\lib\site-packages (from tabula-py) (1.3.0)
Collecting distro
  Using cached distro-1.5.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: numpy in c:\users\dewa\anaconda3\envs\google-earth-engine-tutorial\lib\site-packages (from tabula-py) (1.21.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dewa\appdata\roaming\python\python39\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dewa\anaconda3\envs\google-earth-engine-tutorial\lib\site-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\dewa\anaconda3\envs\google-earth-engine-tutorial\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

## Step 2: read your pdf using tabula

Tabula would automatically scan for tables

In [4]:
data = "./data/exploration-of-solar-radiation-in-nigeria.pdf"

result = tabula.read_pdf(data, pages=7, multiple_tables=True)
for table in result:
    print(table)
    print('')

    Year Month Quarter     Ibadan    Sokoto  Port Harcourt
0   2011   Jan      Q1  152.95440  216.6395       195.3404
1   2011   Feb      Q1  167.18160  221.9066       173.1943
2   2011   Mar      Q1  179.93890  244.9392       180.4480
3   2011   Apr      Q2  162.21800  242.0993       182.9117
4   2011   May      Q2  154.39700  232.1683       160.7612
5   2011   Jun      Q2  126.53000  189.8827       131.3527
6   2011   Jul      Q3   90.88166  168.1862       121.4725
7   2011   Aug      Q3   91.89994  163.3494       114.3021
8   2011   Sep      Q3  112.58800  218.2928       134.7724
9   2011   Oct      Q4  141.07450  231.2348       141.5836
10  2011   Nov      Q4  166.86530  259.2857       155.8608
11  2011   Dec      Q4  186.76990  220.9247       188.9337
12  2012   Jan      Q1  153.84540  233.9503       169.7561
13  2012   Feb      Q1  149.98740  236.8866       148.0371
14  2012   Mar      Q1  171.49560  255.0796       157.5473
15  2012   Apr      Q2  168.66280  254.1561       155.8032
16  2012   May      Q2  140.26830  228.6467       175.9798
17  2012   Jun      Q2  106.23080  198.5635       155.5539
18  2012   Jul      Q3   98.30663  170.3925       123.2970
19  2012   Aug      Q3   84.72954  163.9434       132.4191
20  2012   Sep      Q3  102.24120  237.7151       139.4198
21  2012   Oct      Q4  148.66920  225.5070       169.9258
22  2012   Nov      Q4  149.41590  235.8298       164.1032
23  2012   Dec      Q4  156.13660  252.3218       183.3756
24  2013   Jan      Q1  143.91720  241.5025       190.2066
25  2013   Feb      Q1  152.47860  263.7138       182.1664
26  2013   Mar      Q1  170.13790  274.2572       190.2914
27  2013   Apr      Q2  153.09870  246.2206       190.1896
28  2013   May      Q2  152.31800  266.2807       155.0758
29  2013   Jun      Q2  122.49650  238.1973       118.5945
30  2013   Jul      Q3   90.37251  204.8868       104.1193
31  2013   Aug      Q3   91.51808  158.5125       104.4163
32  2013   Sep      Q3  123.54870  220.8356       103.7318
33  2013   Oct      Q4  147.52360  196.0405       160.1248
34  2013   Nov      Q4  159.23670  215.5635       140.6912
35  2013   Dec      Q4  161.10070  241.7571       180.2359
36  2014   Jan      Q1  151.51190  260.3407       187.0669
37  2014   Feb      Q1  165.44350  265.0291       185.4546
38  2014   Mar      Q1  161.69470  283.3369       149.3904
39  2014   Apr      Q2  177.25600  273.8853       173.3540
40  2014   May      Q2  166.40420  245.7454       155.1183
41  2014   Jun      Q2  135.69310  251.1309       121.3127
42  2014   Jul      Q3   99.66434  213.1179       105.4346
43  2014   Aug      Q3   73.27386  168.3135       109.7623
44  2014   Sep      Q3  109.82590  233.2870       103.2934
45  2014   Oct      Q4  136.83160  265.9048       159.7854
46  2014   Nov      Q4  153.53710  289.4494       132.2734
47  2014   Dec      Q4  170.68950  273.8075       168.4408
48  2015   Jan      Q1  179.51460  253.1279       188.5943
49  2015   Feb      Q1  179.72370  308.7152       166.6179
50  2015   Mar      Q1  175.39900  269.7174       169.0348
51  2015   Apr      Q2  177.21220  293.1761       157.4829
52  2015   May      Q2  178.24180  274.8512       145.4870
53  2015   Jun      Q2  131.35270  256.4359       124.2063
54  2015   Jul      Q3  106.96200  227.5436       101.6585
55  2015   Aug      Q3  105.13760  201.4077       112.5626
56  2015   Sep      Q3  110.39590  218.6873       128.3276
57  2015   Oct      Q4  132.84340  244.4301       156.8578
58  2015   Nov      Q4  152.70410  250.2541       187.9975
59  2015   Dec      Q4  172.30180  209.2145       231.9561

## Step 3: Write into a file using tabula's convert_into method

Make sure to create a results folder before running the next cell block

In [7]:
tabula.convert_into(data, './results/quaterly-solar-radiance-ibadan-sokoto-ph.csv', output_format='csv', pages=7)

# Conclusion

Tabular data can be scrapped from a PDF using the tabula package in python.